<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active: isPath('/admin')}" href="#/admin">Мои товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active: isPath('/admin/orders')}" href="#/admin/orders">Мои заказы</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" ng-if="isPath('/admin')">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>id</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Изображение</th>
                        <th>Размер</th>
                        <th>Материал</th>
                        <th>Магазины</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="furniture in furnitures">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>{{ furniture.furniture_id }}</td>
                        <td>{{ furniture.furniture_name }}</td>
                        <td>{{ furniture.furniture_price }} ₸</td>
                        <td><img src="{{ furniture.furniture_image }}" class="img-thumbnail" width="100px"/></td>
                        <td>{{ furniture.furniture_size }}</td>
                        <td>{{ furniture.furniture_covering }}</td>
                        <td></td>
                        <td>
                            <div class="dropdown">
                                <button style="border: 1px solid #ccc" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Remove</a>
                                    <a class="dropdown-item" href="#">Inactivate</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-2" ng-if="isPath('/admin/orders')">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1" style="max-width: 50px">
                            1
                        </div>
                        <div class="col-11">
                            <div class="info smaller">
                                <p class="mb-1"><span class="subtitle small">имя: </span> Name Surname</p>
                                <p class="mb-1"><span class="subtitle small">телефон: </span> +77771233221</p>
                                <p class="mb-1"><span class="subtitle small">адрес: </span> г. Алматы, ул. Шаляпина 23, кв. 25</p>
                                <p class="mb-1"><span class="subtitle small">сумма: </span> 56000 ₸</p>
                                <p class="mb-1"><span class="subtitle small">время заказа: </span> 17:54 07.12.2017</p>
                            </div>
                            <div class="ordered-furnitures row mt-4">
                                <p class="col-12 font-weight-bold">Заказы</p>
                                <div class="col-4 smaller my-2 clearfix">
                                    <div class="float-left mr-2">
                                        <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                    </div>
                                    <div class="float-left">
                                        <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                        <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                    </div>
                                </div>
                                <div class="col-4 smaller my-2 clearfix">
                                    <div class="float-left mr-2">
                                        <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                    </div>
                                    <div class="float-left">
                                        <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                        <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                    </div>
                                </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1" style="max-width: 50px">
                            1
                        </div>
                        <div class="col-11">
                            <div class="info smaller">
                                <p class="mb-1"><span class="subtitle small">имя: </span> Name Surname</p>
                                <p class="mb-1"><span class="subtitle small">телефон: </span> +77771233221</p>
                                <p class="mb-1"><span class="subtitle small">адрес: </span> г. Алматы, ул. Шаляпина 23, кв. 25</p>
                                <p class="mb-1"><span class="subtitle small">сумма: </span> 56000 ₸</p>
                                <p class="mb-1"><span class="subtitle small">время заказа: </span> 17:54 07.12.2017</p>
                            </div>
                            <div class="ordered-furnitures row mt-4">
                                <p class="col-12 font-weight-bold">Заказы</p>
                                <div class="col-4 smaller my-2 clearfix">
                                    <div class="float-left mr-2">
                                        <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                    </div>
                                    <div class="float-left">
                                        <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                        <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                    </div>
                                </div>
                                <div class="col-4 smaller my-2 clearfix">
                                    <div class="float-left mr-2">
                                        <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                    </div>
                                    <div class="float-left">
                                        <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                        <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                    </div>
                                </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div>



                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1" style="max-width: 50px">
                            1
                        </div>
                        <div class="col-11">
                            <div class="info smaller">
                                <p class="mb-1"><span class="subtitle small">имя: </span> Name Surname</p>
                                <p class="mb-1"><span class="subtitle small">телефон: </span> +77771233221</p>
                                <p class="mb-1"><span class="subtitle small">адрес: </span> г. Алматы, ул. Шаляпина 23, кв. 25</p>
                                <p class="mb-1"><span class="subtitle small">сумма: </span> 56000 ₸</p>
                                <p class="mb-1"><span class="subtitle small">время заказа: </span> 17:54 07.12.2017</p>
                            </div>
                            <div class="ordered-furnitures row mt-4">
                                <p class="col-12 font-weight-bold">Заказы</p>
                                <div class="col-4 smaller my-2 clearfix">
                                    <div class="float-left mr-2">
                                        <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                    </div>
                                    <div class="float-left">
                                        <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                        <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                    </div>
                                </div>
                                <div class="col-4 smaller my-2 clearfix">
                                    <div class="float-left mr-2">
                                        <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                    </div>
                                    <div class="float-left">
                                        <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                        <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                    </div>
                                </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div><div class="col-4 smaller my-2 clearfix">
                                <div class="float-left mr-2">
                                    <img src="https://amihome.by/upload/resize_cache/iblock/890/270_190_2/89011c9cef640e388ef8e17874f053c3.jpg" alt="мебель" width="60px">
                                </div>
                                <div class="float-left">
                                    <p class="font-weight-bold mb-1">Диван РоуКоч</p>
                                    <p><span class="subtitle">цена: </span> 64000 ₸</p>
                                </div>
                            </div>



                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>